/* Box-sizing for all elements */
* {
    box-sizing: border-box;
}

/* Root variables */
:root {
    --hoverTextColor: rgb(204, 39, 163);
    --textColor: #605d5d;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor);
}

/* Header styling */
.header {
    height: 72px;
    /* background-color: red; */
    /* outline: 1px solid #CCC; */
    margin: 0px 280px;
    /* padding-left: 80px; */
    display: flex;
    /* Height will be middle of 75px */
    align-items: center;
    justify-content: space-between;
    /* Justify between will distribute space between items */
    /* font-weight: 510; */
}

/* Styling for header sections - left and right */
.headerRight, .headerLeft {
    display: flex;
    align-items: center;
}

/* Image styling */
img {
    width: 100%;
}

/* Logo container styling */
.logoContainer {
    width: 160px;
}

/* Search icon styling */
.searchIcon {
    width: 30px;
    padding: 5px;
}

/* Search input container styling */
.searchInputContainer {
    width: 400px;
    height: 45px;
    outline: 1px solid #ccc;
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 7px;
    position: relative;
}

/* Form styling */
form {
    width: 100%;
}

/* Search input styling */
.inputSearch {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Styling for the search recent modal */
.searchRecentModal {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 45px;
    background-color: white;
    height: 400px;
    width: 100%;
    display: none;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 20px 20px;
}

/* Display the search recent modal on focus within the search input container */
.searchInputContainer:focus-within .searchRecentModal {
    display: block;
}

/* Styling for recent items */
.recentIcon {
    width: 20px;
    margin-right: 15px;
}

/* Styling for recent items */
.recentItem {
    display: flex;
    align-items: center;
}

/* Styling for right items - mobile icon, download container */
.mobileIcon {
    width: 15px;
    margin: 5px;
}

/* Styling for the download container */
.downloadContainer {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Styling for download container on hover */
.downloadContainer:hover {
    color: var(--hoverTextColor);
    cursor: pointer;
}

/* Styling for download button */
.downloadBtn {
    display: block;
    width: 160px;
    margin-top: 10px;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.3); */
}

/* Styling for download hover button container */
.downloadHoverBtnContainer {
    position: absolute;
    bottom: 0;
    top: 45px;
    width: 100%;
    /* background-color: red; */
    display: none;
    height: 170px;
    padding: 10px;
    color: var(--textColor);
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

/* Display the download hover button container on hover */
.downloadContainer:hover .downloadHoverBtnContainer {
    display: block;
}

/* Styling for download button text */
.downloadContainer P {
    margin: 0;
    padding: 0;
    font-size: 17px;
    padding: 20px;
}

/* Styling for profile and cart items */
.profileAndCart {
    display: flex;
    align-items: center;
}

/* Styling for profile and cart items on hover/focus */
.profileAndCart:hover, .profileAndCart:focus {
    color: var(--hoverTextColor);
}

/* Styling for profile and cart icons */
.profileIcon, .cartIcon {
    width: 20px;
}

/* Styling for profile and cart item text */
.profileAndCart p {
    margin: 0;
    padding: 0;
}

/* Styling for profile and cart container */
.profileContainer, .cartContainer {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling for the become supplier container */
.becomeSupplierContainer {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
    font-size: 17px;
}
